/*menu*/
.menu img {
	position: relative;
	z-index: 1;
	width: 35vh;
	height: 35vh;
	object-fit: cover;
	overflow: hidden;
	border-radius: 10%;
	border: #d62410 3px solid;
}

.menu img:hover {
	opacity: 0.5;
}

.card__title {
	position: relative;
	z-index: 2;
	top: 130px;
	text-align: center;
	color: #ffffff;
	text-shadow: 2px 2px #000000;
}
